* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  hyphens: auto;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-transition: all 0.4s ease-out;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--hosptal-blue);
}

:root {
  --bordes-one: 2px solid rgb(14, 72, 196);
  --hosptal-blue: #93baee;
  --very-light-green: rgb(172, 209, 172);
  --very-light-blue: #2d80d3;
  --very-light-blue2: #1e508d;
  --very-light-blue3: #3990fa;
}

body {
  height: 1000px;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
nav {
  display: flex;
  width: 100%;
  padding: 0 40px 0 20px;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  background-color: var(--hosptal-blue);
  box-shadow: 5px 8px 40px black;
}
.icon {
  width: 70px;
}

.ul-navbar {
  display: flex;
  align-items: center;
}

.ul-navbar li {
  margin-left: 15px;
  list-style: none;
  border-bottom: var(--bordes-one);
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background-color: var(--very-light-blue);
  color: white;
  font-weight: 400;
  box-shadow: 5px 5px 10px var(--very-light-blue2);
  cursor: pointer;
}

.ul-navbar li:hover {
  border: none;
  box-shadow: none;
  transition: 0.5s all;
}

.ola-shape-fill {
  fill: var(--very-light-blue2);
}
.ola-bottom-one {
  background-color: transparent;
}
.ola-bottom-one svg {
  height: 100px;
  width: 100%;
}

/*Section one - Main*/

main {
  padding: 150px 200px 200px 200px;
  background-color: var(--very-light-blue2);
  height: 460px;
}

main:hover {
  height: 650px;
}

.nameProfesion {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  cursor: default;
  color: white;
}

.nameProfesion span {
  font-family: "Monoton", cursive;
  font-size: 30px;
  word-spacing: 20px;
}

.main-left {
  background-image: url(Imgs/StarsBlack.png);
}

main:hover .nameProfesion,
main:hover .presentation {
  color: white;
}

main:hover .main-left {
  background-image: url(Imgs/StarsWhite.jpg);
}

.presentation {
  display: flex;
}

.usbbog {
  text-decoration: none;
  color: inherit;
}

.platzi,
.udemy,
.ancor {
  text-decoration: none;
  color: inherit;
}

main:hover .udemy {
  color: #eb5157;
  font-size: 19px;
}
main:hover .platzi {
  color: #98ca3f;
  font-size: 19px;
}
main:hover .ancor:nth-child(1) {
  color: rgb(223, 223, 132);
  font-size: 19px;
}
main:hover .ancor:nth-child(2) {
  color: #a29dda;
  font-size: 19px;
}
main:hover .ancor:nth-child(3) {
  color: rgb(224, 112, 112);
  font-size: 19px;
}
main:hover .usbbog {
  color: #ffa431;
  font-size: 19px;
}

.presentation p {
  width: 22rem;
  justify-content: justify;
  font-size: 13px;
  cursor: default;
  color: white;
}
.presentation .one {
  justify-content: start;
}
.two {
  justify-content: end;
  text-align: end;
}

main:hover .presentation p {
  font-size: 17px;
}

/*Skills*/

.skills {
  background-color: #2d80d3;
  height: 160vh;
}

.containerTitleSkills,
.titleContainerProjects,
.titleContainerContact {
  margin-top: -100px;
  padding-top: 150px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Arvo", serif;
  font-size: 45px;
  color: white;
  font-style: italic;
}

.container-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: -50px;
  padding-top: 90px;
}

.container-skills section {
  padding: 20px 30px 30px 30px;
}

.show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show img {
  max-width: 150px;
  padding-bottom: 5px;
}

.show a {
  text-decoration: none;
  color: white;
  font-family: "Monoton", cursive;
  font-size: 30px;
  word-spacing: 5px;
}

.container-skills section div:nth-child(1) {
  display: flex;
  justify-content: end;
  padding: 5px 10px;
  color: white;
  font-size: 20px;
}

.container-skills section p {
  text-align: center;
  color: white;
  overflow: hidden;
  max-height: 0;
}

section:target p {
  max-height: 150px;
}

.show a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show a svg {
  fill: white;
  width: 30px;
  margin-bottom: 10px;
}

.show-p {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.show a span {
  font-size: 20px;
}

.ola-shape-fill-two {
  fill: var(--very-light-blue);
}

.ola-bottom-two {
  background-color: var(--very-light-blue3);
}
/*Projects*/

.projects {
  background-color: var(--very-light-blue3);
  padding: 0px 120px;
  height: 950px;
}

.container-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  padding-top: 70px;
}

.project-subtitile {
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: "Monoton", cursive;
  font-size: 30px;
  word-spacing: 5px;
  font-weight: normal;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  line-height: 30px;
  padding-top: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: 2px solid black;
  border-radius: 30px;
  height: 600px;
}

.projects:hover .project {
  background-color: white;
}

.project div:nth-child(1) {
  width: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  height: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.project-one div:nth-child(1) {
  background-color: #e3d0f3;
}

.project-two div:nth-child(1) {
  background-color: #eae5d7;
}

.project-three div:nth-child(1) {
  background-color: #e1c8f3;
}

.project-four div:nth-child(1) {
  background-color: #6d97e4;
}

.project-one {
  border: 4px solid #ac6ce0;
}

.project-one h2 {
  color: #ff71ba;
}

.project-two {
  border: 4px solid #b49d4e;
}

.project-two h2 {
  color: #b49d4e;
}

.project-three {
  border: 4px solid #ae98c8;
}
.project-three h2 {
  color: #8f7ba6;
  padding: 0px 10px;
}

.project-four {
  border: 4px solid #22488f;
}

.project-four h2 {
  color: #22488f;
}

.project p {
  text-align: center;
  padding: 25px 15px;
  overflow-y: scroll;
  max-height: 200px;
  overflow-x: hidden;
}

.project img {
  text-align: center;
  width: 100%;
}

.project-one img {
  padding: 35px 35px 0px 35px;
}

.project-two img {
  padding-top: 60px;
  padding-bottom: 15px;
}

.project-three img {
  padding: 60px 30px 55px 30px;
}

.project-four img {
  padding: 35px 35px 0px 35px;
  border-radius: 40px;
}

.ola-bottom-tarjets {
  width: 100%;
}

.project-one .ola-bottom-tarjets {
  fill: #e3d0f3;
}

.project-two .ola-bottom-tarjets {
  fill: #eae5d7;
}

.project-three .ola-bottom-tarjets {
  fill: #e1c8f3;
}

.project-four .ola-bottom-tarjets {
  fill: #6d97e4;
}

.button-tarjet {
  width: 100%;
  border: 0px;
  border-radius: 0px 0px 25px 25px;
  height: 100%;
  margin-top: 10%;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  max-height: 50px;
}

.button-tarjet a {
  text-decoration: none;
}

.button-tarjet:hover {
  font-size: 22px;
}

.button-one {
  border-top: 4px solid #ac6ce0;
  background: #e3d0f3;
}

.button-one a {
  color: #ff71ba;
}

.button-two {
  border-top: 4px solid #b49d4e;
  background: #eae5d7;
}

.button-two a {
  color: #b49d4e;
}

.button-three {
  border-top: 4px solid #ae98c8;
  background: #e1c8f3;
}

.button-three a {
  color: #8f7ba6;
}

.button-four {
  border-top: 4px solid #22488f;
  background: #6d97e4;
}

.button-four a {
  color: #22488f;
}

.projects:hover .project-one > p > b {
  color: #ff71ba;
}

.projects:hover .project-two > p > b {
  color: #b49d4e;
}

.projects:hover .project-three > p > b {
  color: #8f7ba6;
}

.projects:hover .project-four > p > b {
  color: #22488f;
}

.ola-shape-fill-three {
  fill: var(--very-light-blue3);
}

.ola-bottom-three {
  background-color: var(--very-light-blue);
}

.ola-bottom-three svg {
  height: 150px;
  width: 100%;
}

/*Contacto*/
.contact {
  background-color: var(--very-light-blue);
  padding: 0px 120px;
  height: 550px;
}

.container-contacts {
  display: flex;
  justify-content: space-around;
  padding-top: 70px;
}

.container-mensaje {
  width: 300px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.container-mensaje h3 {
  text-decoration: none;
  color: white;
  font-size: 30px;
  word-spacing: 5px;
}

.list-contacts {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.list-contacts li img {
  width: 100px;
}

.container-mensaje form{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.container-mensaje form input{
  width: 250px;
  height: 100px;
  border: 0px solid transparent;
  border-radius: 10px;
}

.container-mensaje form button{
  width: 100px;
  border: 0px solid transparent;
  border-radius: 2px
}
